/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  } 

  .example-container {
    border: 1px solid rgba(0, 0, 0, 0.5); 
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    background-color: #fafafa;
    width: 210px;
  }

  .example-sidenav2 {
    margin-left: 210px;
    width: 210px;
  }

 .sidenav_container {
    background-color: white;
    height: 1000px;
  }
  .container {  
      background-color: white;    
    }

  .container > div {
    padding: 20 20;
    background-color: white; 
   
  }
  
  .container > div > div{
    margin: 10px;
    background: #ffffff;
 }

  .buttons{
    height:200px;
    background-color: orange;
  }

  .mat-input-flex {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
  }

