
        <mat-sidenav-container class="example-container" class="sidenav_container" fxLayout="column">
            <mat-sidenav #sidenav2 class="example-sidenav2" opened="true">
                    <div><button mat-raised-button>Disabled</button></div>
            </mat-sidenav>


           
            <div fxLayout="column" class="example-sidenav-content">

                <div fxFlex="13" fxLayoutAlign="space-around center" class="margin1" fxFlex fxLayout.lt-sm="column">
                    <div>
                        <form class="example-form example-field-flex">
                             <mat-form-field class="example-full-width">
                                 <input matInput placeholder="MANAGE ACCOUNTS" value="Account name*">
                             </mat-form-field>
                        </form>
                    </div>

                    <div>
                         <button mat-button class="mat-button" mat-button (click)="sidenav2.open()">Click me!</button>
                         <button mat-button class="mat-button" mat-button (click)="sidenav2.open()">Click me!</button>
                         <button mat-button class="mat-button" mat-button (click)="sidenav2.open()">Click me!</button>
                    </div>
                    
                    
                </div>
                 
                <div fxFlex="87"  class="margin2" >
                    <div class="h5"><h5>GROUP DETAILS</h5> </div>
                       <div fxLayoutAlign="space-around center" fxLayout.lt-md="column"> 
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Address line 1*">
                                    </mat-form-field>
                                </form>

                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                      <input matInput value="Address line 2*">
                                    </mat-form-field>
                                </form>

                                 <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="City">
                                    </mat-form-field>
                                </form>
                        </div>   
                        
                        <div fxLayoutAlign="space-around center" fxLayout.lt-md="column"> 
                                <form class="example-form ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="State/Province">
                                    </mat-form-field>
                                </form>

                                <form class="example-form ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Zip Code">
                                    </mat-form-field>
                                </form>

                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Country">
                                    </mat-form-field>
                                </form>
                        </div>  

                    <div class="h5"><h5>ACCOUNT OWNER</h5> </div>
                    <mat-checkbox class="check">Existing User</mat-checkbox>
                        <div fxLayoutAlign="space-around center" fxLayout.lt-md="column"> 
                                 <form class="example-form">
                                     <mat-form-field class="example-full-width">
                                         <input matInput value="First Name">
                                     </mat-form-field>
                                 </form>
 
                                 <form class="example-form">
                                     <mat-form-field class="example-full-width">
                                       <input matInput value="Last Name">
                                     </mat-form-field>
                                 </form>
 
                                  <form class="example-form">
                                     <mat-form-field class="example-full-width">
                                         <input matInput value="Email">
                                     </mat-form-field>
                                 </form>
                         </div>   
                         
                         <div fxLayoutAlign="space-around center" fxLayout.lt-md="column"> 
                                 <form class="example-form">
                                     <mat-form-field class="example-full-width">
                                         <input matInput value="Mobile Phone">
                                     </mat-form-field>
                                 </form>
 
                                 <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                                <mat-select placeholder="Operator">
                                                  <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{ food.viewValue }}
                                                  </mat-option>
                                                </mat-select>
                                        </mat-form-field>
                                 </form>
 
                                 <form class="example-form">
                                     <mat-form-field class="example-full-width">
                                         <input matInput value="Country">
                                     </mat-form-field>
                                 </form>
                         </div>
                        
                         <div fxLayoutAlign="space-around center" fxLayout.lt-md="column"> 
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Address line 1*">
                                    </mat-form-field>
                                </form>

                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                      <input matInput value="Address line 2*">
                                    </mat-form-field>
                                </form>

                                 <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="City">
                                    </mat-form-field>
                                </form>
                        </div>   
                        
                        <div fxLayoutAlign="space-around center" fxLayout.lt-md="column"> 
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="State/Province">
                                    </mat-form-field>
                                </form>

                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Zip Code">
                                    </mat-form-field>
                                </form>

                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Country">
                                    </mat-form-field>
                                </form>
                        </div>  
                        
                    <div class="h5"><h5>BILLING INFO</h5> </div>
                        <mat-checkbox class="check">User Account Owner Name</mat-checkbox>
                            <div> 
                                <form class="example-form-field-Billing-Name">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Billing Name">
                                    </mat-form-field>
                                </form>
                            </div> 

                            <div>
                                <mat-checkbox class="check">Use Group Address</mat-checkbox>
                                <mat-checkbox class="check">User Owner Address</mat-checkbox>  
                            </div>

                            <div fxLayoutAlign="space-around center" fxLayout.lt-md="column">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Address Line 1">
                                    </mat-form-field>
                                </form>
    
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="Address Line 2">
                                    </mat-form-field>
                                </form>
    
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput value="City">
                                    </mat-form-field>
                                </form>
                            </div>  

                            <div fxLayoutAlign="space-around center" fxLayout.lt-md="column">
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput value="State/Province">
                                        </mat-form-field>
                                    </form>
        
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput value="Zip Code">
                                        </mat-form-field>
                                    </form>
        
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                            <input matInput value="Country">
                                        </mat-form-field>
                                    </form>
                            </div> 

                            <div> 
                                    <form class="example-form-field-Billing-Name">
                                        <mat-form-field class="example-full-width">
                                            <input matInput value="Billing Name">
                                        </mat-form-field>
                                    </form>
                            </div>
                         
                </div>
          </div>
           
          </mat-sidenav-container>