.example-sidenav2 {
    margin-left: 210px;
    width: 210px;
    background-color: #fafafa;
  }    
 .sidenav_container {
    background-color: white;
    height: 1200px;
  }
  
 
  .margin1{ 
    background-color: #eaeaea;
    
    height: 138px;
    width: 100%;
    
  }
  .margin2{ 
    background-color: #f7f7f7;
    height: 200px;
    width: 100%;
    
    }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    
    align-items: center;
    justify-content: center;
    
  }
.mat-button{
    width: 100x;
    height: 36px;
    color: white;
    background-color: #7fc244;
}
   
.example-field-flex

{
    /*display: flex;
    flex: 1 1 300px;;
     margin: 0 18px;
    padding: .5em 0; */
    
}


.container {  
    margin: 10px;
    background-color: yellow;    
}

.container > div {
    margin: 10px;
  background-color: blue; 
 
}

.container > div > div{
  margin: 10px;
  background: red;
}

.h5{
    padding-left: 24px;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #69636C;
}

.example-form {
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    padding-left: 24px;
    padding-right: 36px;     
  }
  
  .example-full-width {
    width: 100%;   
  }
  .check{
    padding-left: 24px;
    color: #30324A;  
    font-size: 14px;
    height: 14px;
    width: 14px;
  }

  .example-form-field-Billing-Name {
    min-width: 200px;
    max-width: 357px;
    width: 100%;
    padding-left: 24px;
    padding-right: 36px;     
  }